*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: 'Nanum Myeongjo', serif;
}

button {
    border: none;
    font-family: inherit;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.header-container {
    width: 90%;
    margin-inline: auto;

    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.header__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    flex: 1;
}

.header__navbar {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: center;
}

.header__navbar-item {
    text-decoration: none;
    color: #000;
}

.header_buttons {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}


/* HERO SECTION */

.hero {
    text-align: center;
    margin-top: 10rem;
}

.hero__title {
    font-size: 4rem;
    font-weight: 700;
    max-width: 25ch;
    margin-inline: auto;
    line-height: 1;
}

.hero__description {
    margin: 1rem;
    max-width: 60ch;
    margin: 2rem auto;
}


/* PRICING SECTION */

.pricing {
    margin-top: 10rem;
}

.pricing__title {
    font-size: 2rem;
}

.pricing__description {
    max-width: 45ch;
    margin: 1rem 0;
}

.pricing__tile_container {
    display: flex;
    gap: 2rem;
}

.pricing__tile {
    background-color: #000;
    color: #fff;
    flex: 1;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin-top: 1rem;
}

.pricing__price {
    font-size: 1.5rem;
}

.pricing__plan {
    font-size: 1.5rem;
}

.pricing__plan-description {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.pricing__button {
    width: 100%;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 1000000000px;
    padding: 0.5rem 1rem;
}

.pricing__features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

/* FEATURES SECTION */

.features {
    text-align: center;
}

.features__title {
    margin: 1rem 0;
}

.features__description {
    max-width: 45ch;
    margin: 1rem auto;
}

.features__flex_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.features__tile {
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 10px;
    width: 500px;
}

.features__tile-title {
    line-height: 1;
}

.features__tile-description {
    margin-top: 1rem;
}
/* UTILITY CLASSES */

.container {
    width: 90%;
    margin-inline: auto;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
}