/*
only absolute unit - pixel (that makes sense to use)

relative units - em, rem, vh, vw, dvh, dvw, ch

percentages - belong to neither

*/


/*

the issue with the pixel unit - is that it does NOT scale (it is an absolute unit after all)

a good use case for pixels however - borders

relative units - can scale up and down
example: rem 


em units

whenever used on a property other than font-size, the em is relative to the font-size of the element in which it is used.

so if say font-size: 1em (16px) and if one sets the padding to 1em, that means the padding is now 1rem = 16px

better to stick to using rem units for font-size and not use the em unit since it could cause a lot of dependency confusions

*/

.btn {
    border: none;
    background-color: #000;
    color: #fff;

    font-size: 1.2rem;
    padding: 0.5em 1em;
    border-radius: 4px;
}